@model FizzBuzz.Models.FizzBuzzModel

@{
    ViewBag.Title = "FizzBuzz";
}

<h2>FizzBuzz</h2>

@using (Html.BeginForm("Index", "Home",FormMethod.Post))
{
        @Html.ValidationMessage("Error");
            

        @Html.LabelFor(model => Model.Min)
        @Html.TextBoxFor(model => Model.Min, new { @type ="number"})
        <br />
        @Html.LabelFor(i => Model.Max);
        @Html.TextBoxFor(model => Model.Max, new { @type = "number" })
        <br />
        <input type="submit" value="submit" />
}

        @if (Model != null && Model.Results != null)
{
            <ol>
                @foreach (var item in Model.Results)
        {
                    <li>@item</li>
        }
            </ol>
}
